@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

* {
   font-family: myFirstFont;
}

.title {
  font-size: 300%;
  font-weight: bold;
  padding-left: 2%;
}


.parallax {
  /* The image used */
  background-image: url("parallax.jpg");

  /* Set a specific height */
  min-height: 10000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-left: 2%;
}
